<!DOCTYPE html>
<html>
  <head>
    <title>Scrooge</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
